@import '../../styles/public.scss';
@import '../../styles/animation.scss';

$outer-size : 14px;

.checkbox {
  user-select: none;
}

.checkbox__exact {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

.checkbox-label {
  padding: 0 8px;
}

.checkbox-icon-wrap {
  display: inline-block;
  border-radius: 50%;
  width: $outer-size;
  height: $outer-size;
  vertical-align: middle;
  position: relative;
  border: 1px solid ;
  &.check{
    border-color: #e3e3e3;
  }
  &.check-fill{
    background: $base-c;
    border-color: $base-c;
    .checkbox-icon{
      display: block;
    }
  }
    
}

.checkbox-icon{
  display: none;
  position: relative;
  width: $outer-size;
  height: $outer-size;
  animation: u_zoomIn ease-out .2s;

  &:after, 
  &:before{
    display: block;
    content: '\0020';
    background: #fff;
    position: absolute;
    width: 2px;
    transform-origin: right bottom;
    left: 50%;
    margin-left: -3px;
    bottom: 4px;

  }
  &:before{
    height: 40%;
    transform: rotateZ(-45deg)
  }
  &:after{
    height:70%;
    transform: rotateZ(45deg)
  }
}


