.form-plugin {
  overflow: hidden;
}
.form-plugin .cell {
  width: 50%;
  float: left;
  position: relative;
}
.form-plugin .cell-title {
  width: 82px;
  text-align: right;
}
.form-plugin .cell-value {
  width: 100%;
}