
.cell{
  margin-bottom:16px;
  display: table;
  &:after{
    display: block;
    content: '\0020';
    clear: both;
    overflow: hidden;
    height:0;
  }
}

.cell-title{
  float: left;
  white-space: nowrap;
  padding:0 6px;
  line-height: 32px;
}

.cell-value{
  display: table-cell;
  vertical-align: middle;
}
