  
  @keyframes bounceOut {
    from {
      opacity: 0.2;
      transform: scale3d(1, 0, 1)
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1)
    }
  }


  @keyframes u_fadeIn{
    from {opacity: 0}
    to {opacity: 1}
  }

  @keyframes u_zoomIn{
    from {
      transform: scale3d(0,0,1)
    }
    to{
      transform: scale3d(1,1,1)
    }
  }


  @keyframes u_scaleIn {
    from {
      transform:  scale3d(1.2, 1.2, 1);
      opacity: 0.3;
    }
    to{
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }

  @keyframes u_spin {
    from{
      transform: rotateZ(0);
    }
    to{
      transform: rotateZ(360deg);
    }
  }

