$base-font-size: 14px;

$base-color: #1890FF;

$base-font-color: #666;
$base-disabled-color: #ccc;
$base-disabled-color-light: #F0F2F5;

$base-hover-bg-color:#27A2F2;
$base-active-bg-color: #0166BF;

$success-color: #13ce66;
$warning-color: #f7ba2a;
$error-color: #F5222D;


$link-color: #20a0ff;
