$base-theme-color: #1890FF; /* 基础主题色 */
$base-border-color: #ccc;  /* 基础边框色 */
$base-bg-color-light: #f5f5f5; /* 基础背景色 - 轻 */


$base-form-height: 32px;  /* 表单组件基础高度 */

$base-border-radius: 4px; /* 基础圆角 */




