$color: #007bff;
$c-base: #007bff;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning:#ffc107;
$info:#17a2b8;
$dark: #343a40;
$light:#f8f9fa;
$border: #d9d9d9;

$info: #999;
$active-bg-color:#f6f6f6;