/* 隐藏input */
.upload-input {
  appearance: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

.input-label {
  display: inline-block;
  border: 1px dashed #ccc;
  font-size: 22px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  background: #f1f1f1;
  color: #999;
  margin: 0;
  
}