.content-page{
    background: #F1F2F7;
    min-height: 100vh;
}
.page-body{
    display: flex;
    ._page-side-bar{
        width: 240px;
        flex: none;
    }
    ._page-content{
        flex: auto;
        margin: 20px 20px 0;
        background:#fff;
        padding: 40px;

    }
}