.i-plain-input{
  padding: 5px ;
  font-size: 16px;
  line-height: 22px;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.i-plain-input:hover,
.i-plain-input:focus{
  border-color: #20A0FF;
}