@import '../../style/global-config.scss';

%border{
  border: 1px solid $base-border-color;
}

.u-plain-input{
  width:100%;
  box-sizing: border-box;
  padding: 0 12px;
  height: $base-form-height;
  line-height: $base-form-height - 2px;
  @extend %border;
  border-radius: $base-border-radius;
  overflow: hidden;
  outline: none;
  transition:all ease .3s ;
  &._icon-before{ padding-left: 30px; }
  &._icon-after{ padding-right: 30px; }
}


/* 最外层容器 */
.u-input-wrapper__outer{
  display: table;
  position: relative;
  width:100%;
  &._fix-after{
    .u-plain-input{
      border-radius: $base-border-radius 0 0 $base-border-radius;
    }
  }
}
/* 次级布局容器  */
.u-input-row{
  display: table-row;
  width:100%;
}
.u-input-wrapper__inner{
  position: relative;
  width:100%;
}
/* 布局 */
.u-input-wrapper__inner,
.u-input-row .u-plain-input,
.u-input-fix,
.u-input-icon{
  display: table-cell;
}

.u-input-icon{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: auto;
  overflow: hidden;
  &._before{
    left: 12px;
  }
  &._after{
    right: 12px;
  }
}

.u-input-fix{
  @extend %border;

  vertical-align: top;
  &._after{
    border-left:none;
    border-radius: 0 $base-border-radius $base-border-radius 0;
  }
}
