
.cell{
  display: table;
  width:100%;

  &::after{
    display: block;
    content: '\0020';
    clear: both;
    overflow: hidden;
    height:0;
  }
  &.normal .cell-title,
  &.reverse .cell-value{
    color: rgba(0,0,0,0.65);
    float: left;
    white-space: nowrap;
    padding:0 6px;
  }
  &.normal .cell-value,
  &.reverse .cell-title{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}


