@import '../../style/animation.scss';
@import '../../style/global-config.scss';


$row-height: 60px; // 表格行高

/* 主体 */
.u-table-container {
    position: relative;
    background: #fff;
    overflow: hidden;
    transition: opacity cubic-bezier(0.455, 0.03, 0.515, 0.955) .3s;
    // min-height: 200px;
    &._align-center {
        text-align: center !important;
    }
    &._align-right {
        text-align: right !important;
    }
    &._align-left {
        text-align: left !important;
    }

    &._stretch {
        overflow-x: auto;
    }
    .sort-sign .u-icon__arrow-fill {
        display: block;
    }
    .u-icon__arrow-fill {
        display: inline-block;
    }

}

// table
.u-table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}



/* 布局 */

.u-plain__table {

    .u-header__track,
    .u-body__track {
        font-size: 0;
        white-space: nowrap;
    }


    .u-table-body,
    .u-table-header,
    .u-table-right-placeholder {
        display: inline-block;
    }
}

.u-fixed-left__table,
.u-fixed-right__table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 26;
    background-color: #fff;
    transition: box-shadow ease-out .4s;

    .u-table-body {
        overflow: hidden;
        // transition: height ease .3s;
    }
}

.u-fixed-left__table {
    &._shadow {
        box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.u-fixed-right__table {
    right: 0;
    left: auto;

    &._shadow {
        box-shadow: -4px -3px 10px 0 rgba(0, 0, 0, 0.06);
    }
}

.u-fixed-bottom__table {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 30;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    .u-plain__table {
        overflow-x: hidden;
        white-space: nowrap;
        font-size:0;
    }

    .u-fixed-right__table._shadow,
    .u-fixed-left__table._shadow {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.u-body__track {
    overflow: auto;
}

.u-table-body {
    min-height: 1px;
}

.u-table-header,
.u-header__track {
    overflow-x: hidden;
    transition: box-shadow ease-out .4s;

    &._shadow {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
        position: relative;
    }
}

/* 标记线 */
.resize-col-sign {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px dashed #888;
    width: 0;
    z-index: 11;
}

/* 排序 */
.sort-sign {
    margin-left: 8px;
    vertical-align: baseline !important;
    display: inline-block;

    &._asc .u-icon._down,
    &._desc .u-icon._up {
        border-color: $base-theme-color;
    }

    .u-icon {
        border-color: #999;
        border-width: 4px;

        &+.u-icon {
            margin-top: -5px
        }
    }

}

/* 细节 */


.u-th {
    background: #F5F5F5;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.u-td {
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
    ._expand-btn{
        border-width: 5px;
    }
}


.u-th,
.u-td {
    &._align-center {
        text-align: center !important;
    }

    &._align-right {
        text-align: right !important;
    }

    &._align-left {
        text-align: left !important;
    }
}

.u-th-content-wrap {
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}


.u-th-content,
.u-td-content {
    display: inline-block;
    padding-left: 20px;
    box-sizing: border-box;

    // 如果用户设置的 列宽， 就会被加上 fill 类名
    &._fill {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.u-th-content {
    white-space: nowrap;
}

.u-td-content {
    white-space: normal;
    // white-space: nowrap;

}



.u-tr {
    transition: background .2s;
    height: $row-height;
    font-size: 14px;

    &._darken {
        background: #fafafa;
    }

    &._lighten {
        background: #fff;
    }

    &._hover {
        background: #d5eaff;
    }
}

/* ----------------------- */
/* ---  用于调整表格列宽  --*/
/* ----------------------- */
.u-table-resize-btn {
    width: 2px;
    height: 18px;
    background: #CCC;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 20;
    margin-top: -9px;
    cursor: col-resize;
    user-select: none;
    transition: ease all .3s;

    &:hover {
        background: #1890ff;
    }
}

/* ----------------------*/
/* ------可扩展 tr ------*/
/* ----------------------*/
.u-expand-tr {

    background: #fff;
    font-size: 14px;

}

.u-expand-td {
    // border-top: 2px solid #f9f7f7 !important;
}

/* ----------------------- */
/* --  没有数据时的提示   -- */
/* ------------------------ */
.u-table-empty-tip-wrap {
        font-size: 14px;
        .u-table-empty-tip{
            padding: 30px 0 ;
        }
    
}

/* loading */

.u-table-loading-wrap{
    position: absolute;
    z-index: 50;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(255,255,255, .6);
    transition: background ease .3s;
    .u-icon__loading {
        z-index: 50;
        height: 42px;
        width: 42px;
        position: absolute;
        top: 50%;
        left: 50%;
        // transform: translate(-50%, -50%)
        margin-top: -21px;
        margin-left: -21px;
    }
}