@import '../../style/global-config.scss';
$light: #f8f9fa;

.u-btn {
  box-sizing: border-box;
  margin-top: 24px;
  height: 32px;
  min-width: 74px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid transparent;


  font-size: $base-font-size;
  color: #fff;
  background: $base-color;
  outline: none !important;
  transition: box-shadow ease-out .2s;
  cursor: pointer;

  //&._large{
  //  width: 100%;
  //}


  &:hover {
    background-color: darken($base-color, 5%);
    border-color: darken($base-color, 10%);
  }
  &:focus {
    box-shadow: 0 0 0 4px fade-out($base-color, 0.5);
  }
  &._light {
    background: $light;
    border-color: $light;
    color: #212529;
    &:hover {
      background-color: darken($light, 5%);
      border-color: darken($light, 10%);
    }
    &:focus {
      box-shadow: 0 0 0 4px fade-out($light, 0.5);
    }
  }
  &._success {
    background: $success-color;
    border-color: $success-color;
    color: #fff;
    &:hover {
      background-color: darken($success-color, 5%);
      border-color: darken($success-color, 10%);
    }
    &:focus {
      box-shadow: 0 0 0 4px fade-out($success-color, 0.5);
    }
  }
  &._warning {
    background: $warning-color;
    border-color: $warning-color;
    color: #fff;
    &:hover {
      background-color: darken($warning-color, 5%);
      border-color: darken($warning-color, 10%);
    }
    &:focus {
      box-shadow: 0 0 0 4px fade-out($warning-color, 0.5);
    }
  }
  &._danger {
    background: $error-color;
    border-color: $error-color;
    color: #fff;
    &:hover {
      background-color: darken($error-color, 5%);
      border-color: darken($error-color, 10%);
    }
    &:focus {
      box-shadow: 0 0 0 4px fade-out($error-color, 0.5);
    }
  }

  &:disabled{
    cursor: not-allowed;
    box-shadow:none;
    border-color: $base-disabled-color-light !important;
    background-color: $base-disabled-color-light !important;
    color:$base-disabled-color !important;
  }
}
