@import '../../style/theme.scss';
$border-c: #d9d9d9;
:global{
  .tab-group{
    list-style: none;
    margin:0;
    border-bottom:1px solid $border-c;
    user-select: none;
  }
  .tab-item{
    float: left;
    $hei: 56px;
    height:$hei;
    line-height: $hei;
    margin-left:32px;
    border-bottom:2px solid transparent;
    &.first{margin:0;}
    &.active{
      border-bottom-color: $color;
    }

  }
}