
.container{
  padding:50px;
}



@keyframes transi {
  from {
    transform: scale3d(1, 0, 1)
  }
  to{
    transform: scale3d(1,1,1)
  }
}

.queue{
  overflow: hidden;
  border-radius: 4px;
  background:#ccc;
  border-radius: 4px;
  height: 200px;
  transform-origin: top;
  transition: ease 1s all;
}

// .transition-enter-active{
//   animation: xx ease 3s;
// }
// .transition-leave-active{
//   animation: xx ease 3s reverse;
// }


.transition-enter{
  height: 0;
  // opacity: 0;
}
.transition-enter-to{
  height: 200px;
}
.transition-leave{
  height: 200px;
}
.transition-leave-to{
  height: 0;
  // opacity: 0;
}


@keyframes xx {
  from {
    height: 0;
  }
  to{
    height: 200px;
  }
}